{% extends "base.html" %}
{% block title %}Relays{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
  <script src="{{ url_for('static', filename='relayChangeState.js') }}"></script>
{% endblock %}
{% block content %}
  <table>
    <tr>
      <th align="left">ID</th>
      <th align="left">Name</th>
      <th align="left">Pin#</th>
      <th align="left">Connection</th>
      <th align="left">Group</th>
      <th align="left">State</th>
    </tr>
    {% for i in r: %}
    <tr>
      <td>{{ i.RelayID }}</td>
      <td>{{ i.Name }}</td>
      <td>{{ i.Pin }}</td>
      <td>{{ i.Connection }}</td>
      <td>{{ i.RelayGroup.Name }}</td>
      <td>
  				<button id="relayID={{ i.RelayID }}">{{ 'On' if i.State else 'Off' }}</button>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
